.banner_container {
    width: 100%;
    height: 100vh;
    background: url("../../public/portfolio_img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-light);
    display: flex;
    align-items: center;
}

.main {
    max-width:900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.intro_name {
    font-size: 3.5rem;
    line-height: 4.5rem;
    min-width: 300px;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--accent-green);
}

.intro_desc {
    max-width: 300px;
    line-height: 1.2rem;
    font-size: 0.9rem;
}

.email_container {
    margin-top: 5rem;
}

.email_container p {
    color: var(--accent-orange);
    text-decoration: underline;
    font-weight: 500;
}

.experience_container {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.years {
    font-size: 3.5rem;
    font-weight: 500;
}

/* .banner_img {
    background: url("../../public/portfolio_img.webp");
    height: 70vh;
    width: 100%;
    display:;

} */
@media (max-width:770px) {
       .banner_container{
        flex-direction: column;
        align-items: center;
       } 
       /* .banner_img {
    background: url("../../public/portfolio_img.webp");
    height: 70vh;
    width: 100%;
    display:;

} */
}
