.main{
    background-color: var(--primary-light);
}
.experience_container{
    padding-top: 6rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.title{
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--accent-green);
}
.education .experience{
    min-width: 250px;
}
.year{
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 1rem;

}
.main_text{
    color: var(--accent-orange);
    font-weight: 500;
    font-size: 1.3rem;
}
.sub_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    gap: 2rem;
    margin-top: 5rem;
}