.main {
    height: 50px;
    backdrop-filter: blur(10px);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.06); */
    top: 0;
    position: fixed;
    /* padding: 1rem; */
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 1800px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    z-index: 99;
    /* background-color: var(--primary-light); */
    color: var(--primary-dark);

}

.nav_title {
    font-family: var(--font-parisienne);
    font-size: 1.4rem;
    font-weight: 600;
}
.menu_items{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    
}

.nav_items{
    display: flex;
    list-style: none;
    gap: 3rem;
    transition: all 0.4s ease-in-out;
}

.nav_items a {
    text-decoration: none;
    color: var(--primary-dark);
    font-size: 0.87rem;
    font-weight: 500;
    font-family: var(--font-poppins);
    padding: 0 0.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.nav_toggle {
    display: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.nav_toggle:hover{
    color: var(--accent-orange);
}

.nav_contact {
    font-size: 0.9rem;
    font-family: var(--font-poppins);
    font-weight: 500;
}

.nav_items a:hover {
    
    color: var(--accent-orange);
}
@media (max-width:628px){
    .nav_contact{
        display: none;
    }
}
@media (max-width:450px) {
    /* .main{
        backdrop-filter: none;
    } */
    .nav_toggle{
        display: block;
    }
    .nav_items{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        backdrop-filter: blur(8px);
        position: absolute;
        background-color: white;
        top: 0;
        /* left: 0; */
        margin: 0;
        gap:2.5rem;
        z-index: -1;
        align-items: stretch;
        padding: 5rem 0 1rem 2rem;
    }
    .nav_items.inactive{
        left: -110%;
    }
    .nav_contact{
        display: block;
    }
    .nav_items.active{
        left: 0;
    }
    
}