* {
  margin: 0;
}

:root {
  --primary-bg: #5c4847;
  --primary-dark: #2f2828;
  --primary-light: #5c484714;
  --accent-gold: #d4a373;
  --accent-green: #00565b;
  --text-primary: #f5f0e9;
  --text-secondary: #d4c9c2;

}


@media (prefers-color-scheme: dark) {}

body {
  background-color: white;
  ;
  font-family: var(--font-poppins), sans-serif;
}

.fa-times,
fa-bars {
  cursor: pointer;
  color: var(--primary-bg);
}